﻿<%@ Page Language="C#" Inherits="SuperTest.christinestest" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>christinestest</title>
</head>
<body>
	<form id="form1" runat="server">
	</form>
</body>
</html>
