﻿<%@ Page Language="C#" Inherits="SuperTest.extrasupertest" %>
<!DOCTYPE html>
<html>
<head runat="server">
	<title>extrasupertest</title>
</head>
<body>
	<form id="form1" runat="server">
            <div id="supertest3" runat="server"></div>
            <asp:TextBox id="test1" runat="server" ></asp:TextBox>
            <br>
            
            <asp:label id ="txtname" runat="server" text="Name:"></asp:label>
            <br>
            
	</form>
</body>
</html>
